html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Typescript + Pug + Sass
  body
    header
    main.main
      img(src=require('../../assets/typescript.svg'), alt="logo").main__img
      p.main__text this is a configuration for layout based on typescript, sass and pug
    footer